---
import HomeLayout from 'src/layouts/HomeLayout.astro'
import PresentationSection from 'src/components/PresentationSection.astro'
import AboutMeSection from 'src/components/AboutMeSection.astro'
import ProjectsSection from 'src/components/ProjectsSection.astro'
import ContactMeSection from 'src/components/ContactMeSection.astro'

import { getLangFromUrl, useTranslation } from 'src/i18n/utils.ts'
const lang = getLangFromUrl(Astro.url)
const t = useTranslation(lang)

const tFooter = t('footer')
---

<HomeLayout>
  <main>
    <PresentationSection />
    <AboutMeSection />
    <ProjectsSection />
    <ContactMeSection />
  </main>
  <footer class="lg:min-h-30 min-h-28">
    <h4 class="text-center text-xl font-bold lg:text-3xl">
      {tFooter.thanks}{' '}
      <span class="text-red-500">❤️</span>
    </h4>
  </footer>
</HomeLayout>
