---
import projects from 'src/data/projects.json'
import { getLangFromUrl, useTranslation } from 'src/i18n/utils.ts'
import ProjectCard from 'src/components/ProjectCard.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslation(lang)

const tProjects = t('projects')
---

<section id="projects" class="hero min-h-screen pt-[75px]">
  <div class="hero-content w-full">
    <div class="w-10/12 md:w-full">
      <h2 class="mb-3 text-center text-2xl font-semibold tracking-wider">
        <span class="text-custom-yellow">{'<'}</span>{
          tProjects.section_projects
        }<span class="text-custom-yellow">{'/>'}</span>
      </h2>
      <div
        data-section="projects"
        class="mt-10 grid grid-cols-1 justify-items-center gap-4 md:grid-cols-2 [&>*:nth-child(even)]:flex-row-reverse md:[&>*:nth-child(even)]:pl-0 [&>*:nth-child(odd)]:flex-row md:[&>*:nth-child(odd)]:pr-0"
      >
        {projects.slice(0, 4).map((project) => <ProjectCard {...project} />)}
      </div>
    </div>
  </div>
</section>
