---
import { type IconType } from '../types/Icons.types.ts'
import Icon from '../components/Icon.astro'

type Props = {
  title: string
  icon: IconType
}

const { title, icon } = Astro.props as Props
---

<div
  class="flex flex-col items-center gap-1 transition md:gap-2 md:hover:scale-125"
>
  <div class="h-8 w-8 rounded-xl md:h-12 md:w-12">
    <Icon name={icon} />
  </div>
  <p class="text-sm md:text-lg">{title}</p>
</div>
