---
import HomeLayout from 'src/layouts/HomeLayout.astro'
import PresentationSection from 'src/components/PresentationSection.astro'
import ProjectsSection from 'src/components/ProjectsSection.astro'
import ContactMeSection from 'src/components/ContactMeSection.astro'
import BlogSection from 'src/components/BlogSection.astro'
import 'aos/dist/aos.css'

export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }]
}
---

<HomeLayout navbarTransparent>
  <main>
    <PresentationSection />
    <BlogSection />
    <ProjectsSection />
    <ContactMeSection />
  </main>
</HomeLayout>

<script>
  import AOS from 'aos'
  AOS.init({
    disable: 'mobile'
  })
</script>
