---
import Layout from '@layouts/Layout.astro'
import PresentationSection from '@components/PresentationSection.astro'
import AboutMeSection from '@components/AboutMeSection.astro'
import ProjectsSection from '@components/ProjectsSection.astro'
import ContactMeSection from '@components/ContactMeSection.astro'

import { getLangFromUrl, useTranslations } from '@i18n/utils.ts'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const tFooter = t('footer')
---

<Layout title="Lee Palacios - @vitualizz / Software Engineer">
  <main>
    <PresentationSection />
    <AboutMeSection />
    <ProjectsSection />
    <ContactMeSection />
  </main>
  <footer class="lg:min-h-30 min-h-28">
    <h4 class="text-center text-xl font-bold lg:text-3xl">
      {tFooter.thanks}{' '}
      <span class="text-red-500">❤️</span>
    </h4>
  </footer>
</Layout>
