---
import BlogPostLayout from 'src/layouts/BlogPostLayout.astro'
import { Image } from 'astro:assets'
import { type CollectionEntry, getCollection } from 'astro:content'

type Props = CollectionEntry<'blog'>

export async function getStaticPaths() {
  const pages = await getCollection('blog')

  const paths = pages.map((page) => {
    const [slug, lang] = page.slug.split('/')

    return {
      params: { lang, slug },
      props: { ...page, slug }
    }
  })

  return paths
}

const post: Props = Astro.props
const { Content } = await post.render()
const {
  data: { title, cover, coverLink }
} = post
---

<BlogPostLayout title={title}>
  <a href={coverLink} target="_blank" rel="noopener noreferrer">
    <Image src={cover} alt={title} width={384} height={216} />
  </a>
  <Content />
</BlogPostLayout>
