---
import BlogPostLayout from 'src/layouts/BlogPostLayout.astro'
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'

const { lang, slug } = Astro.params

const pages = await getCollection('blog')
const post = pages.find((page) => {
  const [pageSlug, pageLang] = page.slug.split('/')
  return pageSlug === slug && pageLang === lang
})

if (!post) {
  return Astro.redirect('/404')
}

const { Content } = await render(post)
const { title, cover, coverLink } = post.data
---

<BlogPostLayout title={title}>
  <a href={coverLink} target="_blank" rel="noopener noreferrer">
    <Image src={cover} alt={title} width={384} height={216} />
  </a>
  <Content />
</BlogPostLayout>
