---
import { getCollection } from 'astro:content'
import HomeLayout from 'src/layouts/HomeLayout.astro'
import { getLangFromUrl } from 'src/i18n/utils.ts'

export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }]
}

const lang = getLangFromUrl(Astro.url)
const allPosts = await getCollection('blog')
---

<HomeLayout>
  <main>
    <h1></h1>
    <ul>
      {
        allPosts.map((post) => (
          <li class=''>
            <a href={`/${lang}/blog/${post.slug.split('/')[1]}`}>
              <p>{post.data.title}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</HomeLayout>
